:root {
  --font-color: #FF8BFF;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 22px;
  color: #FF8BFF;
  background-color: #193718;
  min-height: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  margin: 70px;
  padding: 820;
  font-size: 22px;
 
}

nav li {
  display: inline-block;
  margin: 1rem 1.25rem;
  padding: 0 0px;
}

header {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  color: #FF8BFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;

}

img {
  width: 15%;
  height: 270px;
  margin-left: 22%;
  margin-top: 7%;
}

article {
  display: flex;
  justify-content: flex end;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  padding: 5px;
  border: solid 1px  #FF8BFF;
  position: relative;
  width: 15%;
  margin-left: 5%;
  margin-top: -5%;
}

.project-card {
  justify-self: center;
  margin-top: 10%;
  margin-left: 40%;
  flex-basis: 50vh;
  height: 260px;
  width: 300%;
  text-align: center;
}

h1, h2 {
  color: #FF8BFF
}

h2 {
  font-size: 18px;
  margin: 10px;
  border: solid 1px  #FF8BFF;
  margin: 10px;
  padding: 5px;
  position: relative;
  margin-right: 92%;
}

a {
  color: #FF8BFF;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FF8BFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FF8BFF;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 25px;
  border: solid 1px #FF8BFF;
  position: relative;
  bottom: 20px;
  /* flex-shrink: 0; */
  /* height: 120% */
}

footer p {
  padding: 0 1rem;
}

button {
display:flex;
justify-content: space-between;
background-color: #193718;
color: #FF8BFF;
border-radius: 5px;
font-size: 15px;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 576px) {
nav ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

}

@media screen and (min-width: 478) {
  footer {
    /* background: #193718; */
    flex-direction: row;
    justify-content: space-between;
  }

}