:root {
  --font-color: #FF8BFF;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-size: 22px;
  color: #FF8BFF;
  background-color: #193718;
  --fg: 255, 139, 255;
  --bg: 25, 55, 24;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

nav ul {
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  margin: 70px;
  padding: 820;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin: 1rem 1.25rem;
  padding: 0 0px;
}

header {
  color: #FF8BFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
  align-self: flex-start;
  display: flex;
}

.about-blanca {
  justify-self: normal;
  margin: 40px 40px;
  flex-basis: 50vh;
}

article {
  display: flex;
  justify-content: flex end;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  padding: 5px;
  border: solid 1px  #FF8BFF;
  position: relative;
}

.project-card {
  justify-self: normal;
  margin: 40px 40px;
  flex-basis: 50vh;
}

h1, h2 {
  color: #FF8BFF
}

h2 {
  font-size: 18px;
  margin: 10px;
  border: solid 1px  #FF8BFF;
  margin: 10px;
  padding: 5px;
  position: relative;
}

a {
  color: #FF8BFF;
}

section {
  display: flex;
  color: #FF8BFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 300px;
  height: 300px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FF8BFF;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 25px;
  border: solid 1px #FF8BFF;
  position: relative;
  bottom: 20px;
  /* flex-shrink: 0; */
  /* height: 120% */
}

footer p {
  padding: 0 1rem;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 576px) {
nav ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

}

@media screen and (min-width: 478) {
  footer {
    /* background: #193718; */
    flex-direction: row;
    justify-content: space-between;
  }

}