:root {
  --font-color: #FF8BFF;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
background-color: #193718;
}

/* This styles my navigation element 'ul' being the parent container and 'li' below being the child elements */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  margin: 10px;
  font-size: 22px;
}

nav li {
  display: inline-block;
  margin: 1rem 1.25rem;
  padding: 0 0px;
  margin-bottom: 0;
}

/* This just defines my main site header */
header {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  color: #FF8BFF;
  font-size: 26px;;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;

}

/* about section styling */
.about-section {
display: flex;
width: 40%;
flex-direction:row;
margin: 0 auto;
border: 1px solid #FF8BFF;
@media (max-width: 1100px) {
  flex-direction: column;
}
}

.about-blanca {
display: flex;
width: 50%;
@media (max-width: 1100px) {
  width: 100%;
  flex-direction: column;
}
}

.about-blanca a img {
width: 80%;
margin: 0 auto;
}

.about-blanca a {
margin: 0 auto;
display: block;
width: 300%;
}

.info-blanca {
display: flex;
align-items: center;
justify-content: center;
padding: 50px;
width: 50%;
@media (max-width: 1100px) {
  width: 100%;
}
}

.project-card-1 {
  text-align: center;
  margin-top: 40px;
}
.project-card-1 a img {
width: 30%;  
border: solid 1px  #FF8BFF;
}

.project-card-2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;

}
.project-card-2 div {
  margin: 0px;
  border-top: solid 1px  #FF8BFF
}

.project-card-2 img {
width: 50%;  
border: solid 1px #FF8BFF;
}

.project-card-2 h2 {
border: none;
}


h1, h2 {
  color: #FF8BFF
}

h2 {
  font-size: 18px;
  border-top: solid 1px  #FF8BFF;
  margin: 10px;
  padding-top: 25px;
  position: relative;
}

a {
  color: #FF8BFF;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FF8BFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #FF8BFF;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 80px;
  border: solid 0px #FF8BFF;
}

footer p {
  padding: 0 1rem;
}

button {
display:flex;
justify-content: space-between;
background-color: #193718;
color: #FF8BFF;
border-radius: 5px;
font-size: 15px;
}

/* MEDIA QUERIES*/   

@media screen and (min-width: 950px) {
nav ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
}
@media screen and (min-width: 950px) {
  section {
    background: #193718;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 950px) {
  footer {
    background: #193718;
    flex-direction: row;
    justify-content: space-between;
  }
}